<header>
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="/">
            <h1>Fido2020</h1>
        </a>
        <% if (showUserToolbar) { %>
            <div class="btn-group">
                <% if (session.authorized) { %>
                    <form action="/logout" method="POST">
                        <input class="btn btn-outline-light"type="submit" id="logout" value="Logout @(<%= session.login %>)">
                    </form>
                <% } else { %>
                    <a class="btn btn-outline-light" href="/login">Login</a></li>
                    <a class="btn btn-outline-light" href="/register">Register</a></li>
                <% } %>
            </div>
        <% } %>
    </div>
</header>
