<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Fido</title>
</head>
<body>
    <header>
        <h1>Fido 2020</h1>
    
    </header>
    <main>
        <form action="/login" method="POST">
            <label for="">
                Login: <br>

            <input type="text" name="login">
            </label><br>
            <label for="">
                Password: <br>
        
            <input type="password" name="password">
            </label>br
            <input type="submit" value="Login">
       
       
        </form>
    </main>
    <footer>
        &copy; 2020
    </footer>
</body>
</html>